/* HeroDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  div .power {
    margin: 1px;
    display: inline-block;
    position: relative;
    font-family: Arial;
    font-size: small;
    color: white;
    background-color: #83a4b4;
    border: none;
    padding: 0px 0px 0px 5px;
    border-radius: 4px;
  }

  div .power:hover {
    //background-color: #5b7785;
    bottom: .1em;
  }

  button.delete {
    margin-top: 0;
    width: 20px;
    height: 25px;
    background-color: #405061;
    color: white;
    border-radius: 0 4px 4px 0;
    padding-left: 4px;
    padding-right: 4px;
  }

  div .new-power label {
    display: inline;
    font-weight: normal;
    font-size: small;
    color: black;
  }

  div .new-power input {
    height: unset;
    font-weight: normal;
    font-size: normal;
    font-size: 0.5em;
  }

  div .new-power button {
    margin-top: 5px;
  }
